@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins";
  transition: all 0.3s;
}

main {
  width: 100vw;
  height: 100vh;
}

.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;

  opacity: 1;
  animation: fadeIn 1 ease-in-out 6s;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 100vw;
  min-height: 200vh;
  min-width: 390vh;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bioregeneracion-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 100vh;
  padding: 2rem 0 8rem 0;

  background-color: rgba(0, 0, 0, 0.184);
  filter: blur(0);
  animation: toBlack 1 ease-in-out 12s;
}

img {
  width: 200px;
  height: 140px;

  transform: translate(0, 0);
  animation: fadeIn 1 ease-in-out 4s;
}

.under-construction {
  transform: translate(0, 0);
  animation: translate 1 ease-in-out 1s;
  animation-delay: 3seg;
}

.under-construction p{
  padding: 1rem;

  color: #e6e6e6;
  font-weight: 600;
  text-align: center;
}

.under-construction p:nth-child(2){
  font-weight: 500;
  font-size: small;
}


.under-construction img{
  width: 24px;
  height: inherit;
}

.redes{
  display: flex;
  justify-content: space-evenly;
}

@keyframes toBlack {
	0% {
		background-color: rgba(0, 0, 0, 1);
    filter: blur(5);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.184);
    filter: blur(0);
	}
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes translate {
	0% {
		transform: translate(0, 200%);
	}
	100% {
		transform: translate(0, 0);
	}
}